---
title: Team Coach Candor
description: >-
  We're a small team of experienced software engineers and information security professionals, with over 100 years of experience in building secure, scalable software solutions between us. Our team have worked across Civil Service, Defence, Oil & Gas, Finance, Assurance and Retail. Whilst as a high performance team we have strong opinions on many subjects, one thing we are all aligned on is that getting consistent high quality feedback has been lacking wherever we go, and we want to change that.
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img style="width:200px" src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
